/* ここから下に記載していく */
@charset "utf-8";
html{
    font-size: 62.5%;
    /* scroll-padding: 20px; */
}

body{
    color: #222222;
    font-family: 'Kaisei Decol', serif;
    font-size: 1.6rem;
    width: 1200px;
    margin:auto;
    line-height: 180%;
}

/* header */
.header{
    display: flex;
    gap: 0px 5px;
    padding: 5px;
}

/* 曜日選択 */
.selectDay-wrapper{
    width: 30%; 
    display: flex;
    justify-content: space-between;
}
.selectDay >p{
    width: 40px;
    height: 40px;
    background-color: #ffe4c4;
    border-radius: 50%;
    color: #a0522d;
    font-size: 2.0rem;
    text-align: center;
    line-height: 200%;
    transition: .1s;
}
.selectDay .active{
    background-color: #a0522d;
    color: #fff;
    transition: .1s;
}   

/* タブ */
.wrap-tab{
  overflow: hidden;
}

.resultDay{
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #deb887;
}
.resultDay > li{
  display: block;
  padding: 0.2em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ffdead;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2.0rem;
}

.resultDay .active{
  background: #a0522d;
}

.tab-content{
  display: none;
  padding: 1em;
  border-bottom: 1px solid #deb887;
  border-left: 1px solid #deb887;
  border-right: 1px solid #deb887;
}
.tab-content.active{
  display: block;
}


/* input */
.btn_input{
    font-size: 1.8rem;
    font-weight: bold;
    color: bisque;
    text-shadow:1px 1px 0 #A97443, -1px -1px 0 #A97443,
              -1px 1px 0 #A97443, 1px -1px 0 #A97443,
              0px 1px 0 #A97443,  0-1px 0 #A97443,
              -1px 0 0 #A97443, 1px 0 0 #A97443;
    position: relative;
}
.btn{
    width: 200px;
}    
.btn_wrapper{
    position: absolute;
    top: 28%;
    left: 9%;
    transform: translate3d(-50%,-50%,0);
    letter-spacing: 0.1em;
    white-space: nowrap;
    font-size: 3.5rem;
}

/* result */
.section__title-text{
    font-size: 1.8rem;
    font-weight: bold;
}
.result__item{
    width: 300px;
    padding: 1px 5px;
    font-size: 1.8rem;
    font-weight: bold;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
    width: 620px;
}
.result__title-image{
    width: 270px;
    height: 160px;
}
.result__item-text{
    padding: 0px 5px;
    margin: auto;
    color: #A97443;
}
.result__title-text{
    padding: 5px;
    margin: auto;
    font-weight: bold;
    font-size: 2.0rem;
}

